<div class="overflow-hidden bg-primary py-4 md:py-8">
  <div class="flex w-max flex-nowrap gap-10 animate-marquee">
    @for (item of loopMarque; track $index) {
      <div class="flex flex-row items-center text-center gap-10 shrink-0 whitespace-nowrap text-4xl md:text-5xl font-extrabold text-surface-400">
        {{ item }}
        <svg
          class="w-14 h-14 text-surface-400 shrink-0"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path d="M12 2L13.5 10.5L22 12L13.5 13.5L12 22L10.5 13.5L2 12L10.5 10.5Z" />
        </svg>
      </div>
    }
  </div>
</div>
