<section #visoraSection id="visora" class="lg:mx-40 lg:my-20 mb-20">
  <div class="flex flex-col justify-center gap-8">
    <div #visoraMedia class="grid lg:grid-cols-2 gap-8 px-8 pt-8 lg:p-10 rounded-2xl">
      <img src="/images/create-product.png" class="w-full h-full object-cover rounded-xl"/>
      <img src="/images/update-product.png" class="hidden lg:block w-full h-full object-cover rounded-xl"/>
      <img src="/images/update-product-view.png" class="hidden lg:block w-full h-full object-cover rounded-xl"/>
      <img src="/images/delete-product.png" class="hidden lg:block w-full h-full object-cover rounded-xl"/>
    </div>

    <div #visoraContent class="flex flex-col gap-6 md:gap-12 mx-8 lg:mx-14">
      <div class="flex flex-row items-end lg:items-center md:gap-10 justify-between">
        <h1 #visoraTitle class="text-lg md:text-5xl md:line-clamp-none line-clamp-1 text-primary font-bold font-figtree">Visora - Product Catalog Management</h1>
        <a #visoraButton href="https://visora-solutionbiz.vercel.app/" class="transition-transform duration-300 hover:scale-105">
          <button class="bg-primary px-3 py-1 md:px-6 md:py-3 rounded-lg pointer-events-none">
            <span class="text-tertiary text-md md:text-2xl font-bold font-jakarta-sans">Website</span>
          </button>
        </a>
      </div>
      <p #visoraDescription class="leading-relaxed md:leading-9 text-sm md:text-xl text-justify text-secondary font-regular font-figtree mx-2">
        Visora Product Catalog Management merupakan aplikasi katalog produk yang digunakan untuk menampilkan dan
        mengelola
        informasi produk secara terpusat tanpa fitur transaksi atau pembelian. Aplikasi ini menyediakan dashboard admin
        untuk melakukan pengelolaan data produk seperti membuat, menghapus, dan edit produk. Sebagai Backend Developer,
        saya mengembangkan REST API menggunakan Laravel, termasuk menambahkan token-based authentication, authorization,
        validasi data, serta diintegrasikan dengan database untuk menyimpan data.
      </p>
    </div>
  </div>
</section>

<section #mbagiSection id="mbagi" class="lg:mx-40 lg:my-20">
  <div class="flex flex-col justify-center gap-8">
    <div #mbagiMedia class="grid lg:grid-cols-2 gap-8 px-8 pt-8 lg:p-10 rounded-2xl">
      <img src="/images/mbagi-home.png" class="w-full h-full object-cover rounded-xl"/>
      <img src="/images/dashboard-mbagi.png" class="hidden lg:block w-full h-full object-cover rounded-xl"/>
      <img src="/images/about-mbagi.png" class="hidden lg:block w-full h-full object-cover rounded-xl"/>
      <img src="/images/profile-mbagi.png" class="hidden lg:block w-full h-full object-cover rounded-xl"/>
    </div>

    <div #mbagiContent class="flex flex-col gap-6 md:gap-12 mx-8 lg:mx-14">
      <div class="flex flex-row items-center md:gap-10 justify-between">
        <h1 #mbagiTitle class="text-lg md:text-5xl text-primary font-bold font-figtree">Mbagi - Berbagi Makanan Sisa</h1>
        <a #mbagiButton href="#" class="transition-transform duration-300 hover:scale-105">
          <button class="bg-primary px-3 py-1 md:px-6 md:py-3 rounded-lg pointer-events-none">
            <span class="text-tertiary text-md md:text-xl font-bold font-jakarta-sans">Website</span>
          </button>
        </a>
      </div>
      <p #mbagiDescription class="leading-relaxed md:leading-9 text-sm md:text-xl text-justify text-secondary font-regular font-figtree mx-1">
        Mbagi merupakan platform website yang bertujuan mengurangi food waste dengan menghubungkan pihak restoran yang
        memiliki makanan sisa yang masih layak konsumsi dengan panti asuhan untuk memenuhi kebutuhan pangan mereka. Website ini memiliki fitur untuk menampilkan
        informasi donasi makanan, lokasi, serta detail distribusi yang sudah terjadwal. Website ini saya buat sebagai latihan mandiri diluar tugas dari perusahaan untuk memenuhi role Frontend Developer dengan
        menggunakan Angular dan Tailwind CSS.
      </p>
    </div>
  </div>
</section>
